body{
    background-color: black;
}

/* Header */
header{
    background-color: black;
    font-family: "Kode Mono", monospace;
    color: white;
    text-align: center;
    border:1%;
    border-color: #ADFF2F;
    border-style: dotted;
    border-bottom-color: black;
    border-bottom-style: solid;
}

#tituloHeader{
    font-weight: 700;
    font-size: 62px;
}

.linkTitulo{
    text-decoration: none;
    color: white;
}

.linkTitulo:hover {
    color: #ADFF2F;
    background-color: transparent;
    text-decoration: underline;
}

#textoHeader{
    font-weight: 600;
}

/* NavBar */
.navbar{
    background-color: black;
    border: 1%;
    border-color: #ADFF2F;
    border-style: dotted;
    border-top: 2px;
    border-top-color: #ADFF2F;
    border-top-style: solid;

}

.nav-link{
   font-family: "Kode Mono", monospace;
   color: white;
   cursor: pointer;
}

/* Secciones */
main{
    margin: 0 2%;
}


#habilidades, #proyectos, #formulario{
    display: none;
}

section{
    margin-top: 5%;
}

.tituloSeccion{
    font-family: "Share Tech Mono", monospace;
    text-decoration: underline;
    color: #FF2FAD;
    text-align: center;
    margin: 2%;
}

.divHabilidades{
    font-family: "Share Tech Mono", monospace;
    color: #2FADFF;
    margin: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 2.4vh;
 }

#listaderecha{
    text-align: end;
}

.gallery {
    background-color: black;
    border: 2px solid #812FFF;
    text-align: center;
}
  
img {
    margin: 10%;
    width: 80%;
    height: 70%;
    border-radius: 2%;
}
  
.desc {
    font-family: "Share Tech Mono", monospace;
    color: #2FADFF;
    padding: 5px;
    text-align: center;

}

label, input, textarea{
    width: 100%;
}

label{
    color:  #FFE92F;
}

#enviar{
    margin-top: 2%;
    background-color: #ADFF2F;

}